.banner {
    width: 100%;
    height: 150px;
    background-color: #1eff29;
    position: relative;
}

.banner h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.border{
    border:1px solid black;  
}

* {
    padding:0;
    margin:10px 0;
    box-sizing: border-box;
}

p {
    text-align: center;
}

.underline{
    text-decoration: underline dotted;
}
