*{
     box-sizing: border-box;
     font-size: 17px;
}

.background{
    background-color: #F4F8F6;
    padding:20px;
    text-align: center;
}

.service{
    display:inline-block;
    border:1px solid white;
    border-radius: 10px;
    text-align: center;
    width:300px;
    margin:20px;
    background-color:white;
}

.service h2{
    color:#3ed3ff;
    font-weight: bold;
}

.service p{
    padding:0 10px;
}