*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    font-family: cursive;
}

.background{
    height:500px;
    width:550px;
    background-color:#F4F6F8;
    position:relative;
    left:28%;
    top:50px;
}

.border{
    border:1px solid rgb(255, 255, 255);
    border-radius: 20px;
    width:350px;
    height:400px;
    position:absolute;
    left:90px;
    top:40px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);  /*shadow*/
    background-color: white;
}

.care {
    background-color:#3BFFEF;
    padding:10px;
    text-align: center;
    position:relative;

    border-radius: 20px 20px 0 0;
}


.hot{
    display:inline;
    border:1px solid red;
    border-radius: 11px;
    color:white;
    font-weight: bold;
    background-color: red;
    padding:3px;
    position:absolute;
    right:-10px;
    bottom:50px;
    
}

.service {
    padding:20px;
}

.service p{
    color:#555F73;
}

span{
    color:#16D623;
}

.line{
    width: 100%;
    height: 1px;
    background-color: #ddd;
    margin: 10px 0;
}

button{
    display:block;
    font-size: 20px;
    background-color: #00D9FF;
    border-radius: 10px;
    padding:8px;
    width:200px;
    margin: 20px auto;
}


