* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: auto;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 50px;
  margin-top: 30px;
}

.id {
  color: #13545c;
}

.title {
  margin-top: 35px;
  color: #32815e;
  margin-bottom: 20px;
}
.title1 {
  text-align: left;
  margin-left: 20px;
}

input {
  width: 440px;
  height: 30px;
  margin-bottom: 20px;
}

select {
  margin-bottom: 20px;
  width: 420px;
  height: 30px;
}

textarea {
  margin-bottom: 20px;
  width: 450px;
  height: 100px;
}

button {
  width: 320px;
  height: 50px;
  background-color: #0ea5a4;
  color: white;
  border: 1px solid transparent;
  border-radius: 10px;
}

.form {
  text-align: center;
  width: 470px;
  height: 680px;
  border: 1px solid black;
  position:relative;
  left:28%;
  top:50px;
}